@using CarpoolPlanner;
@using CarpoolPlanner.ViewModel;

@model HomeViewModel

@{
    ViewBag.Title = Resources.UpcomingCarpools;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<script type="text/javascript">
  var tripCtrl = app.controller('tripCtrl', ['$scope', function($scope) {
    $scope.saveUserTrips = function() {
      $scope.model.Message = "Updating...";
      $scope.model.MessageType = $scope.MessageType.Info;
      this.trySubmit(this.tripInstanceForm, '@Url.Action("Index", "Home")');
    };
  }]);
</script>
<div class="row" ng-controller="tripCtrl">
  <div class="col-md-12">
    <h2>@Resources.UpcomingCarpools</h2>
    @if (AppUtils.IsUserStatus(CarpoolPlanner.Model.UserStatus.Active))
    {
      <div ng-show="model.trips.length > 0">
        <div>Select the days that you can come this week.</div><!-- TODO: generalize to not use the word "week" -->
        <form method="post" name="tripInstanceForm" ng-submit="saveUserTrips()" novalidate>
          <div class="repeater-item" ng-repeat="trip in model.trips">
            <h3>{{ trip.name }}</h3>
            <div style="padding: 5px 0px;" ng-repeat="tripInstance in trip.instances" ng-init="userTripInstance = trip.userTrips[model.userId].instances[$index]">
              <label style="margin-right:10px;">
                <input type="checkbox" ng-model="userTripInstance.attending" class="checkbox" /><!-- todo: use indeterminate state -->
                {{ tripInstanceToString(tripInstance) }}
              </label>
              <!-- TODO: accordion-ize this. Also set the first item to be expanded by default. -->
              <!-- TODO: radio button list -->
              <div style="margin-top:8px;" class="checkbox">
                <label>
                  <input type="checkbox" ng-model="userTripInstance.canDriveIfNeeded" />
                  @Resources.CanDriveIfNeededInstance
                </label>
              </div>
              <div style="display: inline-block; margin-left: 20px;">
                <label>
                  @Resources.Seats
                  <input type="number" ng-model="userTripInstance.seats" min="1" class="form-control form-control-inline" style="width: 70px;" />
                </label>
              </div>
              <hr style="margin:7px 0px;" />
              <div ng-class="{ textDanger: tripInstance.availableSeats < tripInstance.requiredSeats }">
                <b>Total seats:</b>
                {{ tripInstance.availableSeats }}
              </div>
              <div><b>Total coming:</b> {{ tripInstance.requiredSeats }}</div><!-- TODO: calculate this on the client to enable live update -->
              <div class="preserve-newlines">{{ tripInstance.statusReport }}</div><!-- TODO: calculate this on the client to enable live update -->
            </div>
          </div>
          <input type="submit" value="@Resources.Save" class="btn btn-default" />
        </form>
      </div>
      <div ng-show="model.trips.length === 0">
        <p>
          You have not selected any carpools. Please select some on the
          @Html.ActionLink(Resources.AvailableCarpools, "Index", "Trips") page.
        </p>
      </div>
    }
    else
    {
      <div class="text-danger">You cannot see upcoming carpools because your account has not yet been approved by an administrator.</div>
    }
    <cp-message></cp-message>
  </div>
</div>