@using CarpoolPlanner;
@using CarpoolPlanner.ViewModel;

@{
    ViewBag.Title = Resources.UpcomingCarpools;
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section headScripts{
<script type="text/javascript">
  var tripCtrl = app.controller('tripCtrl', function($scope) {
    var first = true;
    $scope.expandedGroups = [];
    for (var i = 0; i < $scope.model.trips.length; i++) {
      var arr = [];
      $scope.expandedGroups.push(arr);
      for (var j = 0; j < $scope.model.trips.length; j++) {
        arr.push(first);
        first = false;
      }
    }
    $scope.saveUserTrips = function() {
      var scope = this;
      scope.trySubmit(scope.tripInstanceForm, '@Url.Action("Index", "Home")', $scope, 'model', function() {
        $scope.model.message = "Updating...";
        $scope.model.messageType = $scope.MessageType.Info;
      }).success(function(result) {
        if (result.model && result.model.messageType == MessageType.Success) {
          // Set the form as pristine so the user won't get "unsaved data" warnings
          scope.tripInstanceForm.$setPristine();
        }
      });
    };
    $scope.handleCheck = function($event) {
      $event.stopPropagation();
      var elem = angular.element($event.target);
      var scope = this;
      if (scope.userTripInstance.attending) {
        $scope.expandedGroups[scope.tripIndex][scope.$index] = true;
      }
    }
  });

  var tripCtrl = app.directive('expandWhenChecked', function() {
    return {
      restrict: 'A',
      require: 'ngModel',
      scope: {
        isOpen: '=expandWhenChecked'
      },
      link: function(scope, elem, attr, modelCtrl) {
        // Tap into the check box click event so we can stop propagation up to the accordion header.
        angular.element(elem).click(function(e) {
          e.stopPropagation();
          if (modelCtrl.$modelValue) {
            scope.isOpen = true;
          }
          // Since we are stopping propagation, we need to manually mark the form as dirty.
          var form = scope.$parent.tripInstanceForm;
          form.$setDirty();
          scope.$apply();
        })
      }
    };
  });

</script>
}

<div class="row" ng-controller="tripCtrl">
  <div class="col-md-12">
    <h2>@Resources.UpcomingCarpools</h2>
    @if (AppUtils.IsUserStatus(CarpoolPlanner.Model.UserStatus.Active))
    {
      <div ng-show="model.trips.length > 0">
        <div>Select the days that you can come this week.</div>
        <form method="post" name="tripInstanceForm" ng-submit="saveUserTrips()" novalidate warn-if-dirty focus-first-invalid>
          <input type="submit" value="Save all changes" class="btn btn-default" style="margin-top: 15px;" />
          <div style="margin-top: 15px;">
            <cp-message></cp-message>
            <val-sumary></val-sumary>
          </div>
          <accordion close-others="true">
            <div ng-repeat="(tripIndex, trip) in model.trips">
              <h3>{{ trip.name }}</h3>
              <accordion-group ng-repeat="tripInstance in trip.instances"
                               is-open="expandedGroups[tripIndex][$index]">
                <div ng-controller="tripInstanceCtrl">
                  <accordion-heading>
                    <div class="checkbox">
                      <input type="checkbox" ng-model="userTripInstance.attending" expand-when-checked="expandedGroups[tripIndex][$index]" ch-tri-state />
                      <label>{{ tripInstanceToString(tripInstance) }}</label>
                    </div>
                  </accordion-heading>

                  <div class="form-horizontal">
                    <div class="form-group">
                      <div class="col-sm-12">
                        <div class="radio">
                          <label>
                            <input type="radio" ng-model="userTripInstance.commuteMethod" ng-value="CommuteMethod.NeedRide"
                                   ng-disabled="userTripInstance.attending == false" />
                            @Resources.NeedRide
                          </label>
                          <br />
                          <label>
                            <input type="radio" ng-model="userTripInstance.commuteMethod" ng-value="CommuteMethod.Driver"
                                   ng-disabled="userTripInstance.attending == false" />
                            @Resources.IAmADriver
                            <br />
                          </label>
                          <br />
                          <label>
                            <input type="radio" ng-model="userTripInstance.commuteMethod" ng-value="CommuteMethod.HaveRide"
                                   ng-disabled="userTripInstance.attending == false" />
                            @Resources.HaveRide
                            <br />
                          </label>
                        </div>
                        <div style="margin-top:8px;" class="checkbox animate-show" ng-hide="userTripInstance.commuteMethod == CommuteMethod.Driver">
                          <label>
                            <input type="checkbox" ng-model="userTripInstance.canDriveIfNeeded"
                                   ng-disabled="userTripInstance.attending == false" />
                            @Resources.WillingToDriveInstance
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group animate-show-50"
                         style="width: 230px;"
                         ng-hide="userTripInstance.commuteMethod != CommuteMethod.Driver && !userTripInstance.canDriveIfNeeded">
                      <label class="col-xs-8 control-label" style="padding-top: 0;">
                        @Resources.NumberOfSeats<br />
                        <span class="small">(inluding your own)</span>
                      </label>
                      <div class="col-xs-4" style="padding: 0;">
                        <input type="number" ng-model="userTripInstance.seats" min="1" val-number val-friendly-name="@Resources.NumberOfSeats"
                               class="form-control form-control-small"
                               ng-disabled="userTripInstance.attending == false" />
                      </div>
                    </div>
                  </div>
                  <hr style="margin:7px 0px; border-color: #CCC;" />
                  <div>
                    <b>Total seats:</b>
                    <span ng-class="{ 'text-danger': availableSeats < requiredSeats }">{{ availableSeats }}</span> 
                  </div>
                  <div><b>Total coming:</b> {{ requiredSeats }}</div>
                  <div style="margin-top: 10px;">
                    <p class="col-md-3" ng-show="drivers.length > 0">
                      <b>Drivers:</b>
                      <span ng-repeat="user in drivers" ng-init="uti = getUti(user.id)">
                        <br />
                        {{ user.name }}
                        <img src="~/Content/sedan2.png"
                             style="margin-left: 3px;"
                             ng-attr-title="{{ '@Resources.Driver (' + uti.seats + ' seats)' }}" />
                      </span>
                    </p>
                    <p class="col-md-3" ng-show="passengers.length > 0">
                      <b>Passengers:</b>
                      <span ng-repeat="user in passengers" ng-init="uti = getUti(user.id)">
                        <br />
                        {{ user.name }}
                        <img src="~/Content/sedan2.png"
                             style="margin-left: 3px;"
                             class="faded"
                             ng-attr-title="{{ '@Resources.CanDriveIfNeeded (' + uti.seats + ' seats)' }}" />
                      </span>
                    </p>
                    <p class="col-md-3" ng-show="ownRide.length > 0">
                      <b>Have own ride:</b>
                      <span ng-repeat="user in ownRide" ng-init="uti = getUti(user.id)">
                        <br />
                        {{ user.name }}
                        <img src="~/Content/sedan2.png"
                             style="margin-left: 3px;"
                             ng-show="uti.canDriveIfNeeded"
                             class="faded"
                             ng-attr-title="{{ '@Resources.CanDriveIfNeeded (' + uti.seats + ' seats)' }}" />
                      </span>
                    </p>
                    <p class="col-md-3" ng-show="waitingList.length > 0">
                      <b>Waiting List:</b>
                      <span ng-repeat="user in waitingList">
                        <br />
                        {{ user.name }}
                      </span>
                    </p>
                    <p class="col-md-3" ng-show="unconfirmed.length > 0">
                      <b>Unconfirmed:</b>
                      <!-- TODO: make this into a directive -->
                      <span ng-repeat="user in unconfirmed" ng-init="uti = getUti(user.id)">
                        <br />
                        {{ user.name }}
                        <img src="~/Content/sedan2.png"
                             style="margin-left: 3px;"
                             ng-show="uti.commuteMethod == CommuteMethod.Driver || uti.canDriveIfNeeded"
                             ng-class="{ 'faded': uti.commuteMethod != CommuteMethod.Driver }"
                             ng-attr-title="{{ (uti.commuteMethod == CommuteMethod.Driver ? '@Resources.Driver' : '@Resources.CanDriveIfNeeded') + ' (' + uti.seats + ' seats)' }}" />
                      </span>
                    </p>
                  </div>
                </div>
              </accordion-group>
            </div>
          </accordion>
          <input type="submit" value="Save all changes" class="btn btn-default" />
        </form>
      </div>
      <div ng-show="model.trips.length === 0">
        <p>
          You have not selected any carpools. Please select some on the
          @Html.ActionLink(Resources.AvailableCarpools, "Index", "Trips") page.
        </p>
      </div>
    }
    else
    {
      <div class="text-danger">You cannot see upcoming carpools because your account has not yet been approved by an administrator.</div>
    }
    <div style="margin-top: 15px;">
      <cp-message></cp-message>
      <val-sumary></val-sumary>
    </div>
  </div>
</div>