@using CarpoolPlanner;

<div class="form-group">
  <label class="col-md-2 control-label" title="Your name as it will appear to other users">Name</label>
  <div class="col-md-10">
    <input type="text" ng-model="model.user.name" class="form-control" required val-friendly-name="Name" />
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label">Commuting</label>
  <div class="col-md-10">
    <div class="radio">
      <label>
        <input type="radio" ng-model="model.user.commuteMethod" ng-value="CommuteMethod.NeedRide" />
        @Resources.NeedRide
      </label>
      <br />
      <label>
        <input type="radio" ng-model="model.user.commuteMethod" ng-value="CommuteMethod.Driver" />
        @Resources.IAmADriver
        <br />
      </label>
      <br />
      <label>
        <input type="radio" ng-model="model.user.commuteMethod" ng-value="CommuteMethod.HaveRide" />
        @Resources.HaveRide
        <br />
      </label>
    </div>
    <div style="margin-top:8px;" class="checkbox animate-show" ng-hide="model.user.commuteMethod == CommuteMethod.Driver">
      <label>
        <input type="checkbox" ng-model="model.user.canDriveIfNeeded"
               cp-disabled-value="true" />
        @Resources.WillingToDrive
      </label>
    </div>
  </div>
</div>
<div class="form-group animate-show animate-seats"
     ng-hide="model.user.commuteMethod != CommuteMethod.Driver && !model.user.canDriveIfNeeded">
  <label class="col-md-2 control-label" style="margin-top: -8px;">
    @Resources.NumberOfSeats<br />
    <span class="small">(inluding your own)</span>
  </label>
  <div class="col-md-10">
    <input type="number" ng-model="model.user.seats" min="1" val-number val-friendly-name="@Resources.NumberOfSeats"
           class="form-control form-control-small" />
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label">@Resources.Phone</label>
  <div class="col-md-10">
    <input type="tel" ng-model="model.user.phone" class="form-control" val-phone="{ areaCodeRequired: true, allow9Digits: false }"
           val-friendly-name="@Resources.Phone" />
    <div class="checkbox animate-show" ng-show="model.user.phone">
      <label>
        <input type="checkbox" ng-model="model.user.phoneNotify" />
        Send notifications via SMS
      </label>
    </div>
    <div class="checkbox animate-show" ng-show="model.user.phone" style="margin-bottom: 10px;">
      <label>
        <input type="checkbox" ng-model="model.user.phoneVisible" />
        @Resources.VisibleToOtherUsers
      </label>
    </div>
  </div>
</div>