@using CarpoolPlanner;
@using CarpoolPlanner.Model;

<!DOCTYPE html>
<html lang="en" ng-app="carpoolApp">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@((!string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title + " - " : "") + AppUtils.AppName)</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/Content/datetimepicker.css" rel="stylesheet" />
  <link href="~/Content/Site.css" rel="stylesheet" />
  <!-- Load angular in the head to make sure the user doesn't see {{ xxx }} for a moment at the beginning -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
  <script src="/Content/datetimepicker.js"></script>
  <script src="/Content/angular.net.js"></script>
  <script src="/Content/validation-summary.js"></script>
  <script type="text/javascript">
    // TODO: only include ui.bootstrap.datetimepicker if on trips page and admin
    var app = angular.module('carpoolApp', ['angular.net', 'validation-summary', 'ui.bootstrap.datetimepicker']);

    app.controller('baseCtrl', ['$scope', '$q', 'AngularNet', function($scope, $q, AngularNet) {
      $scope.model = @Html.JSModel();
      $scope.trySubmit = function(form, url, modelContainer, modelName, beforesubmit) {
        if (!this.validateForm(form)) {
          return $q(function(resolve, reject) {
            reject('Form validation failed.');
          });
        }
        if (modelContainer == null) {
          modelContainer = $scope;
        }
        if (modelName == null) {
          modelName = "model";
        }
        var state = {
          form: form,
          modelContainer: modelContainer,
          modelName: modelName
        };
        var model = modelContainer[modelName];

        if (beforesubmit)
          beforesubmit();

        return AngularNet.submitModel(model, url, state)
          .success(function(result) {
            if (result.model) {
              modelContainer[modelName] = result.model;
            }
          })
          .error(function(result) {
            var msg = "An unexpected error occurred. Please report this error to the website administrator.";
            var serverMessage = result;
            if (serverMessage && serverMessage.indexOf('<!DOCTYPE') === -1)
              msg += "\nThe error is: " + serverMessage;
            model = modelContainer[modelName];
            if (model) {
              model.Message = msg;
              model.MessageType = 2;
            }
          });
      };
    }]);

    app.directive('datetimeFormat', ['$window', function ($window) {
      return {
        require: 'ngModel',
        restrict: 'A',
        link: function (scope, elm, attrs, ctrl) {
          var moment = $window.moment;
          var format = attrs.datetimeFormat;
          attrs.$observe('datetimeFormat', function (newValue) {
            if (format == newValue || !ctrl.$modelValue)
              return;
            format = newValue;
            ctrl.$modelValue = new Date(ctrl.$setViewValue);
          });

          ctrl.$formatters.unshift(function (modelValue) {
            if (!format || !modelValue)
              return "";
            var retVal = moment(modelValue).format(format);
            return retVal;
          });

          ctrl.$parsers.unshift(function (viewValue) {
            if (viewValue instanceof Date)
              return viewValue;
            if (ctrl.$isEmpty(viewValue)) {
              return '';
            }
            // Try to parse using the expected format. If that fails, use the default date parser.
            var moDate = moment(viewValue, format);
            if (!moDate.isValid())
              moDate = moment(viewValue);
            var date = moDate.toDate();
            return date;
          });

          ctrl.$validators.datetime = function(modelValue, viewValue) {
            // consider empty values to be valid
            if (ctrl.$isEmpty(viewValue)) {
              return true;
            }
            if (viewValue instanceof Date) {
              return true;
            }
            // Try to parse using the expected format. If that fails, use the default date parser.
            var moDate = moment(viewValue, format);
            if (!moDate.isValid())
              moDate = moment(viewValue);
            if (moDate && moDate.isValid() && moDate.year() > 1950) {
              return true;
            }
            return false;
          };
        }
      };

    }]);
  </script>
  @RenderSection("headScripts", required: false)
</head>
<body ng-controller="baseCtrl">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @Html.ActionLink(AppUtils.AppName, "Index", "Home", null, new { @class = "navbar-brand" })
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          @if (AppUtils.IsUserAuthenticated())
          {
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink(Resources.AvailableCarpools, "Index", "Trips")</li>
            if (AppUtils.IsUserStatus(UserStatus.Active))
            {
              <li>@Html.ActionLink("Users", "List", "User")</li>
            }
          }
        </ul>
        <ul class="nav navbar-nav navbar-right">
          @if (AppUtils.IsUserAuthenticated())
          {
            <li>@Html.ActionLink("{{ model.UserId }}", "Manage", "User")</li>
            <li>@Html.ActionLink("Logout", "Logout", "User")</li>
          }
          else
          {
            <li>@Html.ActionLink("Register", "Register", "User")</li>
            <li>@Html.ActionLink(Resources.Login, "Login", "User")</li>
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="container body-content">
    @RenderBody()
  </div>
  @RenderSection("scripts", required: false)
</body>
</html>
