@using CarpoolPlanner;
@using CarpoolPlanner.Model;
@using CarpoolPlanner.ViewModel;

<!DOCTYPE html>
<html lang="en" ng-app="carpoolApp">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@((!string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title + " - " : "") + AppUtils.AppName)</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/Content/datetimepicker.css" rel="stylesheet" />
  <link href="~/Content/Site.css" rel="stylesheet" />
  <!-- Load angular in the head to make sure the user doesn't see {{ xxx }} for a moment at the beginning -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
  <script src="@Url.Content("~/Content/datetimepicker.js")"></script>
  <script src="@Url.Content("~/Content/angular.net.js")"></script>
  <script src="@Url.Content("~/Content/validation-summary.js")"></script>
  <script src="@Url.Content("~/Content/binding-type.js")"></script>
  <script type="text/javascript">
    var RecurrenceType = @Html.JSEnum(typeof(RecurrenceType));
    var MessageType = @Html.JSEnum(typeof(MessageType));
    var originalModel = @Html.JSModel();
  </script>
  <script src="@Url.Content("~/Content/app.js")"></script>
  @RenderSection("headScripts", required: false)
</head>
<body ng-controller="baseCtrl">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @Html.ActionLink(AppUtils.AppName, "Index", "Home", null, new { @class = "navbar-brand" })
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          @if (AppUtils.IsUserAuthenticated())
          {
            <li><a href="@Url.Action("Index", "Home")" cp-nav>Home</a></li>
            <li><a href="@Url.Action("Index", "Trips")" cp-nav>@Resources.AvailableCarpools</a></li>
            if (AppUtils.IsUserStatus(UserStatus.Active))
            {
              <li><a href="@Url.Action("List", "User")" cp-nav>Users</a></li>
            }
          }
        </ul>
        <ul class="nav navbar-nav navbar-right">
          @if (AppUtils.IsUserAuthenticated())
          {
            <li><a href="@Url.Action("Manage", "User")" cp-nav>{{ model.UserId }}</a></li>
            <li><a href="@Url.Action("Logout", "User")" cp-nav>Logout</a></li>
          }
          else
          {
            <li><a href="@Url.Action("Register", "User")" cp-nav>Register</a></li>
            <li><a href="@Url.Action("Login", "User")" cp-nav>@Resources.Login</a></li>
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="container body-content">
    @RenderBody()
  </div>
  @RenderSection("scripts", required: false)
</body>
</html>
