@using CarpoolPlanner;

<div class="form-group">
  <label class="col-md-2 control-label">Name</label>
  <div class="col-md-10">
    <input type="text" ng-model="model.user.name" class="form-control" />
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label">Commuting</label>
  <div class="col-md-10">
    <div class="radio">
      <label>
        <input type="radio" ng-model="model.user.commuteMethod" ng-value="CommuteMethod.NeedRide" />
        @Resources.NeedRide
      </label>
      <br />
      <label>
        <input type="radio" ng-model="model.user.commuteMethod" ng-value="CommuteMethod.Driver" />
        @Resources.Driver
        <br />
      </label>
      <br />
      <label>
        <input type="radio" ng-model="model.user.commuteMethod" ng-value="CommuteMethod.HaveRide" />
        @Resources.HaveRide
        <br />
      </label>
    </div>
    <div style="margin-top:8px;" class="checkbox">
      <label>
        <input type="checkbox" ng-model="model.user.canDriveIfNeeded" ng-disabled="model.user.commuteMethod == CommuteMethod.Driver"
               cp-disabled-value="true" />
        @Resources.CanDriveIfNeeded
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label">
    @Resources.NumberOfSeats<br />
    <span class="small">(inluding your own seat)</span>
  </label>
  <div class="col-md-10">
    <input type="number" ng-model="model.user.seats" min="1" val-number val-friendly-name="@Resources.NumberOfSeats"
           ng-disabled="model.user.commuteMethod != CommuteMethod.Driver && !model.user.canDriveIfNeeded"
           cp-disabled-value=""
           class="form-control form-control-small" />
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label">@Resources.Email</label>
  <div class="col-md-10">
    <input type="email" ng-model="model.user.email" class="form-control" val-friendly-name="@Resources.Email" />
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="model.user.emailNotify" ng-disabled="!model.user.email" cp-disabled-value="false" />
        Send notifications via e-mail (not yet implemented)
      </label>
    </div>
    <div class="checkbox" style="margin-bottom: 10px;">
      <label>
        <input type="checkbox" ng-model="model.user.emailVisible" ng-disabled="!model.user.email" cp-disabled-value="false" />
        @Resources.VisibleToOtherUsers
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label">@Resources.Phone</label>
  <div class="col-md-10">
    <input type="tel" ng-model="model.user.phone" class="form-control" val-phone="{ countryCodeRequired: false }" val-friendly-name="@Resources.Phone" />
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="model.user.phoneNotify" ng-disabled="!model.user.phone" cp-disabled-value="false" />
        Send notifications via SMS
      </label>
    </div>
    <div class="checkbox" style="margin-bottom: 10px;">
      <label>
        <input type="checkbox" ng-model="model.user.phoneVisible" ng-disabled="!model.user.phone" cp-disabled-value="false" />
        @Resources.VisibleToOtherUsers
      </label>
    </div>
  </div>
</div>