@using CarpoolPlanner;
@using CarpoolPlanner.ViewModel;

@model TripsViewModel

@{
  ViewBag.Title = Resources.AvailableCarpools;
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section headScripts{
<script type="text/javascript">
  var tripCtrl = app.controller('tripCtrl', ['$scope', '$http', function($scope, $http) {
    $scope.saveTrips = function() {
      this.trySubmit(this.tripRecurrenceForm, '@Url.Action("Index", "Trips")', $scope, 'model', function() {
        $scope.model.message = "Saving...";
        $scope.model.messageType = $scope.MessageType.Info;
      });
    };
    $scope.createTrip = function() {
      var form = this.createTripForm;
      this.trySubmit(form, '@Url.Action("CreateTrip", "Trips")', $scope.model, 'create', function() {
        $scope.model.create.message = "Creating...";
        $scope.model.create.messageType = MessageType.Info;
      }).success(function(result) {
        if (result.model.messageType === MessageType.Success) {
          // Add the created trip to the list
          $scope.model.trips.push(result.model.createdTrip);
          // If the trip was created successfully, treat the create trip like a new form
          // (so pretend it was never submitted, otherwise errors will appear)
          form.$setPristine();
          form.$setUntouched();
        }
      })
    };
    $scope.deleteTrip = function(index) {
      var scope = this;
      var trip = scope.model.trips[index];
      if (!confirm('Are you sure you want to delete "' + trip.Name + '"?\nThis will remove ALL existing instances of that trip.'))
        return;

      scope.model.message = 'Deleting...';
      scope.model.messageType = MessageType.Info;
      $http.delete('@Url.Action("DeleteTrip", "Trips")/' + trip.Id).success(function(result) {
        if (result && result.model) {
          scope.model.message = result.model.message;
          scope.model.messageType = result.model.messageType;
          if (result.model.messageType === MessageType.Success) {
            scope.model.trips.splice(index, 1);
          }
        }
      })
    };
    $scope.addTripRecurrence = function(trip) {
      trip.Recurrences.push({ Every: 1, Type: RecurrenceType.Weekly });
    };
    $scope.removeTripRecurrence = function(trip, index) {
      trip.Recurrences.splice(index, 1);
    };
  }]);
</script>
}

<h1>@Resources.AvailableCarpools</h1>
<div class="row" ng-controller="tripCtrl">
  <div class="col-md-12">
    <div>
      Select the days you plan on coming. You will receive
      <a href="@Url.Action("Index", "Notifications")" target="_blank" title="How do notifications work?">notifications</a>
      only on the days that you select.
    </div>

    <form method="post" name="tripRecurrenceForm" ng-submit="saveTrips()" novalidate>
      <div class="repeater-item" ng-repeat="trip in model.trips">
        <h3 class="editable-region-header">
          <label class="checkbox">
            <input type="checkbox" id="attending-{{ trip.id }}" ng-model="trip.userTrips[model.userId].attending" ch-hierarchy="attending-{{ trip.id }}" />
            {{ trip.name }}
          </label>
        </h3>
        @if (AppUtils.CurrentUser.IsAdmin)
        {
          <div class="edit-buttons">
            <a href="javascript:;">Edit</a>
            &nbsp;&nbsp;
            <a href="javascript:;" ng-click="deleteTrip($index)">Delete</a>
          </div>
        }
        <div class="indent">
          <div ng-repeat="tripRecurrence in trip.recurrences" class="checkbox">
            <label>
              <input type="checkbox"
                     ng-model="trip.userTrips[model.userId].recurrences[$index].attending"
                     ch-hierarchy="attending-{{ trip.id + '.' + tripRecurrence.id }}" />
              {{ tripRecurrenceToString(tripRecurrence) }}
            </label>
          </div>
        </div>
      </div>
      <div ng-show="model.trips.length === 0">There are currently no trips. An administrator can create new trips.</div>
      <input type="submit" value="@Resources.Save" ng-show="model.trips.length > 0" class="btn btn-default" />
      <div class="form-group">
        <cp-message></cp-message>
      </div>
    </form>
    @if (AppUtils.CurrentUser.IsAdmin)
    {
      <hr />
      <h2>Create New Carpool</h2>
      <form method="post" name="createTripForm" ng-submit="createTrip()" style="max-width: 700px;" novalidate>
        <div class="form-horizontal">
          <div class="form-group">
            <span class="control-label col-sm-3">Name</span>
            <div class="col-sm-9">
              <input type="text" ng-model="model.create.trip.name" class="form-control" val-friendly-name="Name" required />
            </div>
          </div>
          <div class="form-group">
            <span class="control-label col-sm-3">Meeting Location</span>
            <div class="col-sm-9">
              <input type="text" ng-model="model.create.trip.location" class="form-control" />
            </div>
          </div>
        </div>
        <div class="panel">
          <h3 style="margin-top:0px;">Recurrence:</h3>
          <div class="form-horizontal" ng-repeat="tripRecurrence in model.create.trip.recurrences">
            <div><a ng-click="removeTripRecurrence(model.create.trip, $index)" href="javascript:;">Delete Recurrence</a></div>
            <div class="form-group">
              <span class="control-label col-sm-2">Every</span>
              <div class="col-sm-2">
                <input type="number" ng-model="tripRecurrence.every" min="1" class="form-control" val-friendly-name="Every" required />
              </div>
              <div class="col-sm-8">
                <select class="form-control" ng-model="tripRecurrence.type" val-number>
                  <option value="5">day{{ tripRecurrence.every == 1 ? '' : 's' }}</option>
                  <option value="4">week{{ tripRecurrence.every == 1 ? '' : 's' }}</option>
                  <option value="2">month{{ tripRecurrence.every == 1 ? '' : 's' }}</option>
                  <option value="3">month{{ tripRecurrence.every == 1 ? '' : 's' }} (by day of week)</option>
                  <option value="0">year{{ tripRecurrence.every == 1 ? '' : 's' }}</option>
                  <option value="1">year{{ tripRecurrence.every == 1 ? '' : 's' }} (by day of week)</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <span class="control-label col-sm-2">Starting on</span>
              <div class="col-sm-10">
                <div class="dropdown">
                  <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="tripRecurrence.start" val-friendly-name="Start Date"
                             val-datetime="{ format: 'ddd MMM Do YYYY, h:mm a' }" required />
                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <datetimepicker ng-model="tripRecurrence.start" datetimepicker-config="{ dropdownSelector: '#dropdown1' }"></datetimepicker>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-group">
              <span class="control-label col-sm-2">Ending on</span>
              <div class="col-sm-10">
                <div class="dropdown">
                  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="tripRecurrence.end" val-friendly-name="End Date"
                             val-datetime="{ format: 'ddd MMM Do YYYY, h:mm a' }" />
                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <datetimepicker ng-model="tripRecurrence.end" datetimepicker-config="{ dropdownSelector: '#dropdown2' }"></datetimepicker>
                  </ul>
                </div>
              </div>
            </div>
            <div><b>Preview:</b> {{ tripRecurrenceToString(tripRecurrence) }}</div>
            <hr />
          </div>
          <a ng-click="addTripRecurrence(model.create.trip)" href="javascript:;">Add Recurrence</a>
        </div>
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-default" />
        </div>
        <div class="form-group">
          <cp-message model="model.create"></cp-message>
          <val-summary></val-summary>
        </div>
      </form>
    }
  </div>
</div>