@using CarpoolPlanner
@using CarpoolPlanner.Model
@using CarpoolPlanner.ViewModel

@model CreateUserViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section headScripts{
  <script type="text/javascript">
    app.controller('userCtrl', function($scope, $location) {
      var s = $location.search();
      $scope.model.user.loginName = s.loginName;
      $scope.registerWithChecks = function() {
        var emailNotifications = this.model.user.email && this.model.user.emailNotify;
        var phoneNotifications = this.model.user.phone && this.model.user.phoneNotify;
        if (!phoneNotifications && !emailNotifications) {
          if (!confirm("You have opted out of all notifications. This means that you must manually log in to the website for every single carpool to confirm that you are coming. Are you sure you want to do this?")) {
            return;
          }
        }
        this.registerForm.$submit();
      };
      $scope.register = function() {
        this.trySubmit(this.registerForm, '@Url.Action("Register", "User")', $scope, 'model', function() {
          $scope.model.message = "Submitting...";
          $scope.model.messageType = MessageType.Info;
        });
      };
    });
</script>
}

<h2>@Resources.Register</h2>
<form name="registerForm" ng-controller="userCtrl" ng-submit="register()" novalidate>
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-md-2 control-label">@Resources.LoginName</label>
      <div class="col-md-10">
        <input type="text" ng-model="model.user.loginName" class="form-control" val-friendly-name="@Resources.LoginName" required />
        <!-- TODO: add an async validator to make sure the loginName does not already exist -->
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">@Resources.Password</label>
      <div class="col-md-10">
        <input type="password" ng-model="model.password" class="form-control" val-friendly-name="@Resources.Password" required />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Confirm password</label>
      <div class="col-md-10">
        <input type="password" ng-model="model.confirmPassword" val-equals="model.password" val-message="'Passwords must match.'" class="form-control" />
      </div>
    </div>
    @Html.Partial("UserData")
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="button" ng-click="registerWithChecks()" value="@Resources.Register" class="btn btn-default" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <val-summary></val-summary>
        <cp-message></cp-message>
      </div>
    </div>
  </div>
</form>